.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: greenyellow;
    height: 150px;
    padding: 20px;
    color: darkolivegreen;
    text-align: center;
}

.App-intro {
    font-size: large;
}

.App-technical-note {
    font-size: small;
    text-align: right;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
